{% extends "layout.html" %}
{% block content %}

<img src="static/images/bgImage.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Introduction</h1>
        </header>
        
        <div class="w3-container">
          <p>Lung cancer is one of the leading causes of cancer-related deaths worldwide. 
            Early detection of lung cancer is crucial for successful treatment and improved 
            survival rates. In this paper, we propose a system for lung cancer detection using 
            digital image processing and machine learning techniques. The proposed system uses 
            digital image processing techniques to segment lung nodules from computed tomography 
            (CT) scans. Features are then extracted from the segmented nodules using texture analysis 
            and shape analysis. These features are used to train a machine learning classifier that can 
            differentiate between malignant and benign nodules. We evaluated the performance of the proposed 
            system using a dataset of 300 CT scans from the Lung Image Database Consortium (LIDC). Our results 
            show that the proposed system achieved an accuracy of 91.67% in detecting lung nodules, outperforming 
            other state-of-the-art approaches. Overall, the proposed system has the potential to improve the accuracy 
            and efficiency of lung cancer detection, leading to earlier diagnosis and better treatment outcomes.
	</p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>About The Project</h1>
            </header>
            
            <div class="w3-container">
              <p>
                The Lung cancer is one of the most common types of cancer and is the leading cause 
                of cancer-related deaths worldwide. Early detection of lung cancer is critical for 
                successful treatment and improved survival rates. In recent years, medical imaging 
                techniques such as computed tomography (CT) scans have become increasingly popular for 
                detecting lung cancer. However, manual interpretation of these images can be time-consuming 
                and prone to errors. Digital image processing and machine learning techniques have shown 
                great promise in the field of medical imaging for the detection and diagnosis of various diseases, 
                including lung cancer. In this paper, we propose a system for lung cancer detection using digital 
                image processing and machine learning techniques.
              </p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div>

    <div class="w3-container w3-center">
        <h2>Architecture Diagram</h2>
        <img src="static/images/block.png" alt="car" style="width:100%">
        <p>Figure1</p>
      </div>

{% endblock %}